<html>
    <head>
        <title>Login - Auth Service</title>
    </head>
    <body>
        <h1>Login</h1>
        <form action="/login" method="post">
            <label for="Username">Username</label><br>
            <input type="text" name="username" required>
            <label for="password">Password</label><br>
            <input type="password" name="password" required>
            <button type="Submit">Login</button>
        </form>
        <p> Done have an account <a href="/register">Register here</a></p>
        {%with messages=get_flashed_messages()%}
            {%if messages%}
                <ul>{% for message in messages%}<li>{{message}}</li>{%endfor%}</ul>
            {%endif%}
        {%endwith%}
    </body>
</html>
